
  <div class="text-center">
    <div class="row">
  <div class="col-md-2"></div>
  <div class="col-md-8">
    </br>
  </br>
  <div class="media-body">
    <h2 class="media-heading user-name"> <%= @user.name %>'s To-Do Lists: </h2>
    </div>
  <div class="media">
      <%= render partial: 'items/item', collection: @items %>
    </br>
    <div class='new-item'>  
    <%= render 'items/form'%>
  </div>
    </div>
  </div>
</div>