<div class="text-center">
<div class="jumbotron">
  <h1>Get Your Blocitoff On</h1>
  <p>An Easy Way for You to Stay Organized</p>
  <h3>
    <%=link_to "Sign In", new_user_session_path, class: 'btn btn-primary' %> or
    <%=link_to "Sign Up", new_user_registration_path, class: 'btn btn-primary' %> today!
  </h3>
</div>

<div class="row">
  <div class="col-md-4">
    <h2>Solves multitasking sanfus</h2>
    <p>Blocitoff will not let you forget important to-dos</p>
  </div>
  <div class="col-md-4">
    <h2>Eliminates disorganization</h2>
    <p>Blocitoff will help get your mojo back</p>
  </div>
  <div class="col-md-4">
    <h2>Makes you successful</h2>
    <p>Blocitoff will get you to the next level</p>
  </div>
</div>

